# Ignorar archivos de Arduino
*.ino
*.elf
*.bin
*.hex
*.o
*.d
*.lst
*.sym
*.lss
*.eep
*.EEP
*.a
*.app
*.applet
*.S
*.s
*.i
*.ii
*.su
*.map
*.tmp
*.core
*.lto
*.log
*.swp
*.swo
*.swm

# Ignorar archivos de PlatformIO y VSCode (si los usas)
.pio/
.vscode/
